<section class="phx-hero">
  <h1>Become</h1>
</section>
<div>
<%= form_for @changeset, Routes.page_path(@conn, :convert), [multipart: true], fn f -> %>
    <div class="form-group">
      <label>CSV File</label>
      <%= file_input f, :path %>
    </div>

    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
